# API Keys
# Get your Google Cloud API key from: https://console.cloud.google.com/apis/credentials
# Make sure to enable the "Cloud Speech-to-Text API" for your project
VITE_GOOGLE_CLOUD_API_KEY=your_google_cloud_api_key_here
